.ingredientCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 250px;
  padding: 30px;
  border: 3px solid black;
}

.ingredientTitle {
  font-style: italic;
  font-weight: 600;
}

.ingredientImage {
  margin-top: 20px;
  margin-bottom: 10%;
  height: 100px;
  max-width: 150px;
  object-fit: contain;
  align-self: center;
}

.ingredientQuantity {
  padding-top: 5%;
  font-style: italic;
}
