.ingredientCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-m);
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
}

.ingredientCard button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-xl);
  transform: translate(20%, -20%);
  z-index: 10;
}

.ingredientTitle {
  font-style: italic;
  font-weight: 600;
}

.ingredientImage {
  margin: var(--space-xs);
  max-height: 100px;
  max-width: 150px;
  object-fit: contain;
  align-self: center;
}

.ingredientQuantity {
  padding-top: 5%;
  font-style: italic;
}
