.searchResultsOutput {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.searchResult {
  border: 1px solid black;
  background-color: white;
  padding: var(--space-3xs);
  font-size: var(--font-s);
  cursor: pointer;
}

.searchResult:hover {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}
