.wrapper {
  transition: transform 0.2s ease-out;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.backButton {
  display: flex;
  align-items: center;
  gap: var(--space-3xs);
  background: none;
  border: none;
  font-size: var(--space-s);
  color: var(--color-text);
  border-bottom: 1px solid transparent;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  font-size: var(--space-m);
  height: 100%;
}

.text {
  height: 100%;
}

.wrapper::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--color-text);
  margin: 0 auto;
  transition: width 0.2s ease;
  transform: rotate(1deg);
  border-bottom-right-radius: 225px 10px;
  border-bottom-left-radius: 225px 10px;
}

.wrapper:hover::after {
  width: 100%;
  transform: rotate(1deg);
}

.backButton:hover {
  cursor: pointer;
}
