.cardWrapper {
  width: 300px;
  height: 375px;
  border: 2px solid var(--color);
  border-radius: 1rem;
  padding: 1rem 1rem 1.5rem 1rem;
  position: relative;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.title {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color);
  padding: 0 0.5rem;
  line-height: 0.8;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: var(--space-l);
  color: var(--color);
  text-wrap-mode: nowrap;
}
