.cardWrapper {
  width: calc(var(--space-5xl) * 4);
  height: calc(calc(var(--space-5xl) * 4) * 1.25);
  border: 2px solid var(--color);
  border-radius: var(--space-s);
  perspective: 1000px;
  position: relative;
  cursor: pointer;
  padding: var(--space-s) var(--space-s) var(--space-m) var(--space-s);
}

.cardInner {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
  width: 100%;
  height: 100%;
}

.cardFace {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: var(--space-xs);
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  background-color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-l);
  border-radius: var(--space-2xs);
}

.back h3 {
  color: var(--color-darker);
}

.title {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color);
  padding: 0 0.5rem;
  line-height: 0.8;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: var(--space-l);
  color: var(--color);
  text-wrap-mode: nowrap;
}
