.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: pink;
}

.menu {
  position: relative;
}

.modal {
  position: relative;
}
