/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.spinner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--space-xs);
  color: var(--color-text);
}

.display {
  color: var(--color-text);
  text-align: center;
  font-size: var(--space-m);
  font-style: normal;
  width: 4ch;
  border: 2px solid var(--color);
  border-radius: var(--space-s);
  padding: var(--space-3xs) var(--space-xs);
  background-color: hsl(var(--color-h), var(--color-s), 95%);
}

.control {
  color: var(--color-text);
  border: 2px solid var(--color);
  border-radius: var(--space-s);
  font-size: var(--space-default);
  padding: var(--space-3xs) var(--space-xs);
  font-weight: 700;
}
