/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

.spinner {
  display: flex;
  max-width: 20vw;
  justify-content: space-around;
  align-items: center;
  gap: var(--space-xs);
  color: var(--color-text);
}

.spinner button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: var(--font-l);
}
.spinner input {
  font-size: var(--font-m);
  font-style: normal;
  width: 3ch;
}
