.userLogin {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  min-width: 15vw;
  min-height: 25vh;
  z-index: 10;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menuButton:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
