/* Menu Button */
.profileButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  line-height: 0;
}

.profileButton svg {
  font-size: var(--space-xl);
}

.profileButton:hover {
  cursor: pointer;
}

.userLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xs);

  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;

  background-color: var(--background-color);

  opacity: 0;
  transform: translateY(-1000px);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease;
  pointer-events: none;

  padding: 0 var(--space-l);
}

.userLogin.open {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.userLogin p {
  text-align: center;
  font-size: var(--space-m);
  margin: var(--space-3xs);
  width: 100%;
  font-family: "Unbounded";
}

.userLogin input {
  width: 100%;
  padding: var(--space-3xs) var(--space-xs);
  margin: var(--space-3xs);
  font-size: var(--space-s);
  font-style: italic;
  border: 1px solid var(--color-dark);
  font-size: var(--space-default);
  max-width: 40ch;
}

.userLogin .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--space-xs);
  margin: var(--space-3xs);
}

.userLogin svg {
  font-size: var(--space-2xl);
}

@media (min-width: 600px) {
  .userLogin input {
    width: 50%;
  }
}
