@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.button {
  padding: 4px;
}

.hidden {
  display: none !important;
}

html,
body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}
