@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.button {
  padding: 4px;
}

.hidden {
  display: none;
}

html,
body {
  height: 100%;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 20px;
}

.recipe-output,
.saved-recipes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  padding: 30px;
}

.recipes-header {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border: 3px solid black;
}

.recipe-title {
  font-style: italic;
  font-weight: 600;
}

.recipe-image {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 100px;
  width: 250px;
  object-fit: cover;
  align-self: center;
}

.recipe-ingredients-title,
.recipe-directions-title {
  font-weight: 700;
  padding-top: 5%;
}
