.dayOutput {
  display: flex;
  flex-direction: column;
  background: url("/images/lined_paper.png") no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  padding: var(--space-2xl) var(--space-m) var(--space-m) var(--space-m);
  position: relative;
}

.dayOutput::after,
.dayOutput::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  background: var(--background-color);
  z-index: 2;
  clip-path: polygon(
    0% 100%,
    5% 80%,
    10% 100%,
    15% 75%,
    20% 100%,
    25% 80%,
    30% 100%,
    35% 75%,
    40% 100%,
    45% 80%,
    50% 100%,
    55% 75%,
    60% 100%,
    65% 80%,
    70% 100%,
    75% 75%,
    80% 100%,
    85% 80%,
    90% 100%,
    95% 75%,
    100% 100%
  );
}

.dayOutput::before {
  top: 0;
  transform: rotate(180deg);
}

.dayOutput::after {
  bottom: 0;
  transform: none;
}

.daySummary {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-m);
}
