.daySelection {
  margin-top: var(--space-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xs);
  color: var(--color-text);
  width: 100%;
}
.day {
  display: block;
  font-size: var(--space-l);
}

.days {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: center;
}

.days .button {
  cursor: pointer;
  padding: var(--space-3xs);
  border: 1px solid var(--color-text);
  background: none;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.days .button:hover {
  background-color: var(--color-light);
}

.days .button.active {
  border: 2px solid var(--color-text);
  background-color: var(--color);
}
