.mealRecipeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 1;
}

.mealRecipeHeader h4 {
  text-align: left;
}

.mealRecipeHeader h3 {
  font-family: "Homemade Apple";
  text-align: left;
  font-weight: 500;
}

.mealRecipes {
  padding-top: var(--space-m);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--space-xs);
}
