.recipeSummary {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--space-3xs);
}

.recipeTitle {
  text-align: left;
}

.recipeImage {
  margin-top: 20px;
  margin-bottom: 10%;
  height: 100px;
  width: 250px;
  object-fit: cover;
  align-self: center;
}

.recipeIngredientsTitle,
.recipeDirectionTitle {
  font-weight: 700;
  padding-top: 5%;
}

.recipeIngredientList,
.recipeDirectionsList {
  text-align: left;
}
