.recipesModal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.recipesContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 90vh;
  overflow-y: auto;
  padding: var(--space-3xl) var(--space-xs);
  background-color: var(--background-color);
  border: 2px solid var(--color-darker);
  border-bottom-right-radius: 225px 10px;
  border-bottom-left-radius: 10px 225px;
  border-top-right-radius: 10px 225px;
  border-top-left-radius: 225px 10px;
  gap: var(--space-s);
}

.savedRecipes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-column-gap: var(--space-l);
  grid-row-gap: var(--space-l);
}

.recipesHeader {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space-l);
}
