.recipeSummary {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  gap: var(--space-3xs);
}

.recipeSummary button {
  display: flex;
  align-items: center;
  padding-top: var(--space-3xs);
}

.recipeTitle {
  text-align: left;
}

.recipeAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
}
