.recipeLookup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-l);
}

.recipeLookup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xs);
}

.recipeQuantity {
  display: flex;
  gap: var(--space-xs);
}

.recipeSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-s);
}
