.recipeCard {
  position: relative;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 500px;
  max-height: 550px;
  padding: var(--space-m) var(--space-m);
  border-radius: 10px;
  border-top: 1px solid rgba(6, 18, 26, 0.17);
  border-right: 1px solid rgba(6, 18, 26, 0.17);
  background: url("/images/lined_paper.png") no-repeat;
  background-size: cover;
  background-position: top center;
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.15);
}

.recipeCard p {
  font-size: var(--space-s);
  margin-bottom: var(--space-2xs);
}

.recipeContent {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-m);
  min-height: 0;
}

.recipeContent button {
  cursor: pointer;
  font-style: italic;
  background: none;
  border: none;
  font-size: var(--space-s);
  border-bottom: 1px solid transparent;
  transition: border-color 0.1s ease-in-out, font-weight 0.1s ease-in-out;
}

.recipeContent button:hover {
  border-color: var(--color-text);
  font-weight: 800;
}

.recipeTitle {
  overflow: visible;
  transform-origin: center;
  font-style: italic;
  font-weight: 600;
  margin-bottom: var(--space-xs);
}

.recipeTitle a {
  width: 100%;
  display: inline-block;
  font-size: var(--space-l);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: var(--space-3xs);
  transition: text-decoration-color 0.3s ease-out;
}

.recipeTitle a:hover {
  text-decoration-color: var(--color-dark);
  color: var(--color-dark);
  cursor: pointer;
}

.imageWrapper {
  width: 100%;
  height: calc(var(--space-2xl) * 5);
  position: relative;
  overflow: visible;
}

.recipeImage {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-self: center;
}

.bottomTape,
.topTape {
  z-index: 5;
  position: absolute;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.topTape {
  left: -40%;
  top: 0;
  transform: rotate(-30deg) translateY(-50%) scale(0.3);
}
.bottomTape {
  right: -40%;
  bottom: 0;
  transform: rotate(-30deg) translateY(50%) scale(0.3);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.recipeIngredientsTitle,
.recipeDirectionsTitle {
  font-weight: 700;
  padding-top: var(--space-3xs);
}

.recipeIngredientList,
.recipeDirectionsList {
  text-align: left;
  overflow-y: auto;
  flex-grow: 1;
  min-height: 100px;
  font-size: var(--space-xs);
  padding-right: var(--space-2xs);
  padding-left: var(--space-m);
  width: 100%;
}

.saveButton {
  cursor: pointer;
  color: rgb(229, 140, 155);
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -10%);
  font-size: var(--space-2xl);
  transition: color 0.1s ease-in-out;
}

.saveButton:hover {
  color: rgb(216, 42, 42);
}
