.recipeCard {
  position: relative;
  color: var(--color-text);
  display: grid;
  grid-template-rows: repeat(22, var(--space-l));
  align-content: start;
  align-items: end;
  justify-items: center;
  width: 100%;
  height: calc(22 * var(--space-l));
  max-width: 500px;
  border-radius: 10px;
  border-top: 1px solid rgba(6, 18, 26, 0.17);
  border-right: 1px solid rgba(6, 18, 26, 0.17);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.15);
  background-color: rgb(242, 237, 232);
  background-image: repeating-linear-gradient(
    transparent 0 calc(var(--space-l) - 1px),
    var(--color-light) calc(var(--space-l) - 1px) var(--space-l)
  );
  padding: 0 var(--space-l);
}

.recipeCard > * {
  line-height: var(--space-l);
  z-index: 1;
}

.recipeCard p {
  font-size: var(--space-s);
}

.recipeContent {
  grid-row: 6/18;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-m);
  height: calc(11 * var(--space-l));
}

.recipeTitle {
  overflow: visible;
  transform-origin: center;
  font-style: italic;
  font-weight: 600;
  grid-row: 3/4;
}

.readyTime {
  grid-row: 4/5;
}

.calories {
  grid-row: 5/6;
}

.previewBtn {
  grid-row: 20/22;
  cursor: pointer;
}

.recipeTitle a {
  width: 100%;
  display: inline-block;
  font-size: var(--space-l);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: var(--space-3xs);
  transition: text-decoration-color 0.3s ease-out;
}

.recipeTitle a:hover {
  text-decoration-color: var(--color-dark);
  color: var(--color-dark);
  cursor: pointer;
}

.imageWrapper {
  width: 100%;
  height: calc(var(--space-2xl) * 5);
  position: relative;
  overflow: visible;
}

.recipeImage {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  align-self: center;
}

.bottomTape,
.topTape {
  z-index: 5;
  position: absolute;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.topTape {
  left: -40%;
  top: 0;
  transform: rotate(-30deg) translateY(-50%) scale(0.3);
}
.bottomTape {
  right: -40%;
  bottom: 0;
  transform: rotate(-30deg) translateY(50%) scale(0.3);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.recipeIngredientsTitle,
.recipeDirectionsTitle {
  font-weight: 700;
  padding-top: var(--space-3xs);
}

.recipeIngredientList,
.recipeDirectionsList {
  text-align: left;
  overflow-y: auto;
  flex-grow: 1;
  min-height: 100px;
  font-size: var(--space-xs);
  padding-right: var(--space-2xs);
  padding-left: var(--space-m);
  width: 100%;
}

.saveButton {
  cursor: pointer;
  color: rgb(229, 140, 155);
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -10%);
  font-size: var(--space-2xl);
  transition: color 0.1s ease-in-out;
  z-index: 1;
}

.saveButton:hover {
  color: rgb(216, 42, 42);
}
