.recipeTitle {
  font-style: italic;
  font-weight: 600;
}

.recipeImage {
  margin-top: 20px;
  margin-bottom: 10%;
  height: 100px;
  width: 250px;
  object-fit: cover;
  align-self: center;
}

.recipeIngredientsTitle,
.recipeDirectionTitle {
  font-weight: 700;
  padding-top: 5%;
}

.recipeIngredientList,
.recipeDirectionsList {
  text-align: left;
}
