.recipeTitle {
  font-style: italic;
  font-weight: 600;
  margin-top: var(--space-s);
  padding: 0 var(--space-m);
}

.recipeInfo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: var(--space-l);
  flex-wrap: wrap;
}

.recipeContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  width: 50%;
  min-width: 300px;
}

.recipeImage {
  width: 100%;
  position: relative;
  overflow: hidden;
  align-self: center;
}
.recipeImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.recipeIngredientsTitle,
.recipeDirectionsTitle {
  font-weight: 700;
  padding-top: var(--space-3xs);
}

.recipeIngredientsList,
.recipeDirectionsList {
  text-align: left;
  padding: 0 var(--space-xl);
  font-size: var(--space-s);
}

.nutritionWidgetContainer {
  flex: 0 0 300px;
  width: 300px;
  margin: 0 var(--space-s) var(--space-s) var(--space-s);
}
