.ingredientOutput {
  margin-top: var(--space-m);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-column-gap: var(--space-l);
  grid-row-gap: var(--space-l);
}

.downloadButton {
  margin: var(--space-m);
}

.nearbyStores {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  width: 100%;
  height: 70vh;
  margin: var(--space-m);
}
