@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Homemade+Apple&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.alertBanner {
  position: fixed;
  bottom: var(--space-xs);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: var(--space-xs) var(--space-s);
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.alertBanner p {
  font-family: "Montserrat", sans-serif;
}

.alertBanner button {
  display: flex;
  align-items: center;
}

.error,
.error button svg {
  color: red;
}

.warning,
.warning button svg {
  color: orange;
}

.success,
.success button svg {
  color: green;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.button {
  padding: var(--space-3xs) var(--space-2xs);
  color: var(--color-text);
  font-family: "Montserrat";
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--color-text);
  border-radius: 5px;
  background-color: var(--color-lighter);
}

input {
  color: var(--color-text);
  border: 2px solid var(--color-text);
  border-radius: 5px;
}

.button:hover {
  font-weight: 700;
  background-color: var(--color-light);
  border: 2px solid var(--color-text);
}

.button:active {
  background-color: var(--color);
  border: 2px solid var(--color-text);
}

.iconButton {
  cursor: pointer;
  background: none;
  border: none;
  font-size: var(--space-l);
}

.fIconButton {
  width: var(--space-xl);
  height: var(--space-xl);
}

html,
body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}
#homePage {
  height: 100%;
  justify-content: space-evenly;
}

nav {
  background-color: var(--background-color);
  border-bottom: 2px solid var(--color-dark);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--space-2xs);
  padding: var(--space-4xs);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--space-4xl);
  z-index: 1000;
  border-bottom-right-radius: 225px 10px;
  border-bottom-left-radius: 225px 10px;
}

main {
  background-color: var(--background-color);
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--space-4xl) var(--space-s) var(--space-xl) var(--space-s);
}

h1 {
  text-align: center;
  font-size: var(--space-3xl);
  color: var(--color-text);
  margin: var(--space-s);
}
h2 {
  text-align: center;
  font-size: var(--space-2xl);
  color: var(--color-text);
}
h3 {
  text-align: center;
  font-size: var(--space-xl);
  color: var(--color-text);
}
h4 {
  text-align: center;
  font-size: var(--space-l);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded";
}

p,
a,
li,
input,
label,
button {
  font-size: var(--space-default);
  color: var(--color-text);
}
:root {
  /* utopia.fyi/space/calculator minWidth=320 16px & maxWidth=2560 25px */
  /* Space 3xs: 3px → 5px */
  --space-3xs: clamp(0.1875rem, 0.1696rem + 0.0893vw, 0.3125rem);
  /* Space 2xs: 6px → 10px */
  --space-2xs: clamp(0.375rem, 0.3393rem + 0.1786vw, 0.625rem);
  /* Space xs: 9px → 15px */
  --space-xs: clamp(0.5625rem, 0.5089rem + 0.2679vw, 0.9375rem);
  /* Space s: 12px → 20px */
  --space-s: clamp(0.75rem, 0.6786rem + 0.3571vw, 1.25rem);
  /* Font size: 16px → 24px */
  --space-default: clamp(1rem, 0.9286rem + 0.3571vw, 1.5rem);
  /* Space m: 18px → 30px */
  --space-m: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.875rem);
  /* Space l: 20px → 34px */
  --space-l: clamp(1.25rem, 1.125rem + 0.625vw, 2.125rem);
  /* Space xl: 24px → 40px */
  --space-xl: clamp(1.5rem, 1.3571rem + 0.7143vw, 2.5rem);
  /* Space 2xl: 32px → 54px */
  --space-2xl: clamp(2rem, 1.8036rem + 0.9821vw, 3.375rem);
  /* Space 3xl: 40px → 66px */
  --space-3xl: clamp(2.5rem, 2.2679rem + 1.1607vw, 4.125rem);
  /* Space 4xl: 48px → 80px */
  --space-4xl: clamp(3rem, 2.7143rem + 1.4286vw, 5rem);
  /* Space 5xl: 60px → 100px */
  --space-5xl: clamp(3.75rem, 3.3929rem + 1.7857vw, 6.25rem);
  /* Space 6xl: 72px → 120px */
  --space-6xl: clamp(4.5rem, 4.0714rem + 2.1429vw, 7.5rem);

  --background-color: rgb(236, 229, 210);
  --color-text-default: rgb(49, 32, 2);
  --color-blue: hsl(203, 39%, 40%);
  --color-yellow: hsl(39, 91%, 50%);
  --color-red: hsl(16, 85%, 40%);
  --color-green: hsl(101, 54%, 50%);
  --color-teal: hsl(193, 25%, 52%);
  --color-salmon: hsl(7, 68%, 70%);

  /* #F2A20C */
  [data-theme="yellow"] {
    --color-h: 39;
    --color-s: 91%;
    --color-l: 50%;

    --color: hsl(var(--color-h), var(--color-s), var(--color-l));
    --color-light: hsl(var(--color-h), var(--color-s), 65%);
    --color-lighter: hsl(var(--color-h), var(--color-s), 90%);
    --color-dark: hsl(var(--color-h), var(--color-s), 35%);
    --color-darker: hsl(var(--color-h), var(--color-s), 25%);
    --color-text: hsl(var(--color-h), var(--color-s), 10%);
  }

  /* #1ABCFE */
  [data-theme="blue"] {
    --color-h: 203;
    --color-s: 39%;
    --color-l: 40%;

    --color: hsl(var(--color-h), var(--color-s), var(--color-l));
    --color-light: hsl(var(--color-h), var(--color-s), 75%);
    --color-lighter: hsl(var(--color-h), var(--color-s), 90%);
    --color-dark: hsl(var(--color-h), var(--color-s), 35%);
    --color-darker: hsl(var(--color-h), var(--color-s), 25%);
    --color-text: hsl(var(--color-h), var(--color-s), 10%);
  }

  /* #FD9B8D */
  [data-theme="red"] {
    --color-h: 16;
    --color-s: 85%;
    --color-l: 40%;

    --color: hsl(var(--color-h), var(--color-s), var(--color-l));
    --color-light: hsl(var(--color-h), var(--color-s), 75%);
    --color-lighter: hsl(var(--color-h), var(--color-s), 90%);
    --color-dark: hsl(var(--color-h), var(--color-s), 35%);
    --color-darker: hsl(var(--color-h), var(--color-s), 25%);
    --color-text: hsl(var(--color-h), var(--color-s), 10%);
  }

  /* #EBFA7D */
  [data-theme="green"] {
    --color-h: 101;
    --color-s: 54%;
    --color-l: 50%;

    --color: hsl(var(--color-h), var(--color-s), var(--color-l));
    --color-light: hsl(var(--color-h), var(--color-s), 80%);
    --color-lighter: hsl(var(--color-h), var(--color-s), 90%);
    --color-dark: hsl(var(--color-h), var(--color-s), 35%);
    --color-darker: hsl(var(--color-h), var(--color-s), 25%);
    --color-text: hsl(var(--color-h), var(--color-s), 10%);
  }
}
