@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.button {
  padding: var(--space-3xs) var(--space-2xs);
  font-size: var(--font-m);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--color-text);
  background-color: var(--color-lighter);
}

.button:hover {
  background-color: var(--color-light);
}

.button:click {
  background-color: var(--color);
}

.hidden {
  display: none !important;
}

html,
body {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

:root {
  /* utopia.fyi/space/calculator minWidth=320 16px & maxWidth=2560 25px */
  /* Space 3xs: 4px → 6px */
  --space-3xs: clamp(0.25rem, 0.2321rem + 0.0893vw, 0.375rem);
  /* Space 2xs: 8px → 13px */
  --space-2xs: clamp(0.5rem, 0.4554rem + 0.2232vw, 0.8125rem);
  /* Space xs: 12px → 19px */
  --space-xs: clamp(0.75rem, 0.6875rem + 0.3125vw, 1.1875rem);
  /* Space s: 16px → 25px */
  --space-s: clamp(1rem, 0.9196rem + 0.4018vw, 1.5625rem);
  /* Space m: 24px → 38px */
  --space-m: clamp(1.5rem, 1.375rem + 0.625vw, 2.375rem);
  /* Space l: 32px → 50px */
  --space-l: clamp(2rem, 1.8393rem + 0.8036vw, 3.125rem);
  /* Space xl: 48px → 75px */
  --space-xl: clamp(3rem, 2.7589rem + 1.2054vw, 4.6875rem);
  /* Space 2xl: 64px → 100px */
  --space-2xl: clamp(4rem, 3.6786rem + 1.6071vw, 6.25rem);
  /* Space 3xl: 96px → 150px */
  --space-3xl: clamp(6rem, 5.5179rem + 2.4107vw, 9.375rem);

  /* 1 rem = 16px */
  --font-s: clamp(1rem, 0.1136vw + 1rem, 1.25rem);
  /* 1.25 rem = 20px */
  --font-m: clamp(1.25rem, 0.1136vw + 1.25rem, 1.5rem);
  /* 1.5 rem = 24px */
  --font-l: clamp(1.5rem, 0.1136vw + 1.5rem, 1.75rem);
  /* 1.75 rem = 28px */
  --font-xl: clamp(1.75rem, 0.1136vw + 1.75rem, 2rem);
  /* 2 rem = 32px */
  --font-2xl: clamp(2rem, 0.1136vw + 2rem, 2.25rem);
  /* 2.25 rem = 36px */
  --font-3xl: clamp(2.25rem, 0.1136vw + 2.25rem, 2.5rem);

  /* #F2A20C */
  [data-theme="yellow"] {
    --color-h: 39;
    --color-s: 90%;
    --color-l: 50%;

    --color: hsl(var(--color-h), var(--color-s), var(--color-l));
    --color-light: hsl(var(--color-h), var(--color-s), 65%);
    --color-lighter: hsl(var(--color-h), var(--color-s), 80%);
    --color-dark: hsl(var(--color-h), var(--color-s), 35%);
    --color-darker: hsl(var(--color-h), var(--color-s), 25%);
    --color-text: hsl(var(--color-h), var(--color-s), 10%);
  }

  /* #1ABCFE */
  [data-theme="blue"] {
    --color-h: 197;
    --color-s: 99%;
    --color-l: 55%;

    --color: hsl(var(--color-h), var(--color-s), var(--color-l));
    --color-light: hsl(var(--color-h), var(--color-s), 65%);
    --color-lighter: hsl(var(--color-h), var(--color-s), 80%);
    --color-dark: hsl(var(--color-h), var(--color-s), 35%);
    --color-darker: hsl(var(--color-h), var(--color-s), 25%);
    --color-text: hsl(var(--color-h), var(--color-s), 10%);
  }

  /* #FD9B8D */
  [data-theme="red"] {
    --color-h: 8;
    --color-s: 97%;
    --color-l: 77%;

    --color: hsl(var(--color-h), var(--color-s), var(--color-l));
    --color-light: hsl(var(--color-h), var(--color-s), 65%);
    --color-lighter: hsl(var(--color-h), var(--color-s), 80%);
    --color-dark: hsl(var(--color-h), var(--color-s), 35%);
    --color-darker: hsl(var(--color-h), var(--color-s), 25%);
    --color-text: hsl(var(--color-h), var(--color-s), 10%);
  }

  /* #EBFA7D */
  [data-theme="green"] {
    --color-h: 67;
    --color-s: 93%;
    --color-l: 74%;

    --color: hsl(var(--color-h), var(--color-s), var(--color-l));
    --color-light: hsl(var(--color-h), var(--color-s), 65%);
    --color-lighter: hsl(var(--color-h), var(--color-s), 80%);
    --color-dark: hsl(var(--color-h), var(--color-s), 35%);
    --color-darker: hsl(var(--color-h), var(--color-s), 25%);
    --color-text: hsl(var(--color-h), var(--color-s), 10%);
  }
}
